.cat {
    position: absolute;
    bottom: 300px;
    left: 200px;
}

.cat--mirror {
    transform: scale(-1, 1);
}

.cat__head-body {
    position: relative;
    width: 90px;
    height: 90px;

    background-color: white;
    z-index: 2;
}

/* ears */
.cat__ears {
    display: flex;
    justify-content: space-between;
}

.cat__ears--left,
.cat__ears--right {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 30px solid #C1C1C1;
}

/* eyes */
.cat__eyes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    left: 1px;

    width: 60px;
}

.cat__eyes--left,
.cat__eyes--right {
    position: relative;

    width: 25px;
    height: 25px;

    background-color: #606060;
    border-radius: 50%;
}

.cat__eyes--left::before,
.cat__eyes--right::before {
    content: '';
    position: absolute;
    top: -3px;

    width: 13px;
    height: 13px;

    background-color: white;
    border-radius: 50%;
}

/* nose */
.cat__eyes::after {
    content: url('../../assets/nose.svg');
    position: absolute;
    right: 22px;
    bottom: -10px;
    width: 15px;
    height: 15px;

    z-index: 2;
}

/* mouth */
.cat__mouth {
    position: absolute;
    bottom: 22px;
    left: 30px;

    height: 6px;
    width: 1px;

    background-color: #606060;
}

.cat__mouth::before,
.cat__mouth::after {
    content: '';
    position: absolute;

    height: 6px;
    width: 1px;

    background-color: #606060;
}

.cat__mouth::before {
    top: 5px;
    right: 2px;
    transform: rotate(45deg);
}

.cat__mouth::after {
    top: 5px;
    left: 2px;
    transform: rotate(-45deg);
}

/* whiskers  */
.cat__whiskers {
    position: absolute;
    bottom: 5px;
    left: -4px;
}

/* tail */
.cat__tail {
    position: relative;

    z-index: 1;
}

.cat__tail::before,
.cat__tail::after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: -30px;
    width: 30px;

    border: 7px solid #C1C1C1;
    border-radius: 50px;
}

.cat__tail::before {
    transform: rotate(-40deg);
}

.cat__tail::after {
    right: -55px;
    transform: rotate(40deg);
}



/* CatDown */
.cat--down {
    left: 500px;
}

.cat--down .cat__head-body {
    height: 45px;
}

.cat--down .cat__ears--left {
    transform-origin: bottom left;
    transform: rotate(150deg);
}

.cat--down .cat__ears--right {
    transform-origin: bottom right;
    transform: rotate(210deg);
}

.cat--down .cat__eyes {
    top: 8px;
}

.cat--down .cat__tail::before {
    right: -40px;
    bottom: 0;
    transform: none;
}

.cat--down .cat__tail::after {
    display: none;
}
