.cat {
    position: absolute;
    bottom: 300px;
    left: 200px;
}

.cat__head-body {
    width: 90px;
    height: 90px;

    background-color: white;
}

.cat__ears {
    display: flex;
    justify-content: space-between;
}

.cat__ears--left,
.cat__ears--right {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 30px solid #C1C1C1;
}
