@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.canvas {
    position: relative;
    width: auto;
    height: 100vh;
    background-color: #C8E8FF;
}

.canvas__title {
    position: absolute;
    top: 110px;
    left: 145px;
    margin: 0;

    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    color: #698CBF;
}

